*{
	margin: 0
	padding:0;
	box-sizing: border-box;

/*	font-family:"TrueType", arial;*/

}

/*home page*/
body, html{
	overflow-x: hidden;
}
.section-main,
.header-main{
	background-color: transparent;
}
#job-class{
	border-top: 6px solid #D4AF37;
	z-index: 0;
}
#column2{
	border-top: 6px solid #40A4F4;	/*40A4F4 cedcff*/
}
#column3{
	border-top: 6px solid #001a33;	
}
.nav-item:hover{
	border-bottom: 2px solid #0077be;
}

@font-face {
font-family: TrueType;
src: url(../fonts/ufonts.com_allembert.ttf);

}
h2{
	font-family:"TrueType", arial;
	font-weight: 700;
}
.navbar-nav{
	font-weight: 700;
}
.spy-scroll{
	height: 250px;
	position: relative;
	overflow-y: scroll;
}
[class*="spy"] p{
	font-family: 'Abel', sans-serif;
}
footer{
   /* position: fixed;*/
    left: 0;
   /* bottom: 0;*/
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}
.footer-main{
	/*z-index: 500;*/
	bottom: 0;
	position: fixed;
}
.row{

}
.active{
	color: black;
}
footer p,small{
	margin-top: 10px;
	margin-bottom: 10px;
}
footer small{
	font-size: 0.7em;
}
.icon{
	width: 100%;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	/*position: relative;*/
}
.jumbotron{
	height: 100%;
	width: 100%;
	background-color: rgba(211,211,211,0.5);
	margin: 0;

}

.navbar{
	margin: 0 auto;
}
.navbar-dark .navbar-nav .nav-link{
	color: black;
}
.nav-link:hover{
	color: #007bff;
}
/*.toggle{
	background-color: black !important;
}
.navbar-toggler-icon{
	color: white;
}*/

.home-container,
.home-container-1{
	background-image: url("../images/ragnarok-bg.jpg");
	background-size: cover;
	height: 100vh;
	background-position: center;
	background-attachment: fixed;
	/*overflow: hidden;*/
}
.poring{
	width: 50px;
	height: 50px;
		/*position: relative;*/

}
#navbar-example2{
	background-color: rgba(160,160,160,0.2);

}

/*end of homepage

/*start of job-build-guide*/

.carousel{
	margin: 0 auto;
	border-radius: 25px;
}
.carousel-inner{
	border-radius: 25px;

}

.kafra{
	height: 400px;
}
.resp-container{
	position: relative;
	overflow: hidden;
	padding-top: 25px;
	/*padding-top: 56.25%;*/
}
.card{
	background-color: rgba(211,211,211,0.5);
}
#nav-pills .nav-link.active{
color: blue;
background-color: transparent;
}
.nav-guide .nav-link.active{
	color: #007bff;
background-color: transparent;
}
.nav-guide a{
	color: black;
}
.media > img{
	width: 64px;
	height: 64px;
}
/*end of job-build-guide*/





























/*media query*/


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*index page*/
	.home-container{
		background-image: url("../images/ragnarok-bg.jpg");
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

	}
	.jumbotron .display-4{
		font-size: 1.5em;
	}
	.jumbotron p{
		font-size: 0.8em;
	}
	.jumbotron .btn-learn{
		font-size: 0.8em;
	}
	footer{
		bottom: 0;
		position: fixed;
	}
	footer small{
		font-size: 0.5em;
	}
	footer p{
		font-size: 0.5em;
	}
	.footer-main-1{
		position: fixed;
		bottom: 0;

	}
	.kafra,
	.poring{
		visibility: hidden;
		display: none
	}

/*end index page*/

/*home page*/

	.home-container-1{
		background-image: url("../images/ragnarok-bg.jpg");
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}


/*end home page*/
	.home-container-2{
		background-image: url("../images/ragnarok-bg.jpg");
		height: 100%;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
	.card{
		margin-bottom: 100px;
	}
	
 }

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

/*index*/
	.home-container{

		background-image: url("../images/ragnarok-bg.jpg");
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

	}
/*end of index*/

/*home*/
	.home-container-1{
		background-image: url("../images/ragnarok-bg.jpg");
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

/*end of home*/
}
	
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*index*/
	.home-container-2{

		background-image: url("../images/ragnarok-bg.jpg");
		height: 100%;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

	}

/*end of index*/

/*home*/
	.home-container-1{
		
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

	}
	.kafra{
		height: 350px;
	}
	
/*end of home*/
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.home-container-2{

		background-image: url("../images/ragnarok-bg.jpg");
		height: 100%;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

	}
	#job-class{
		
	}
}
